body{
    background-color: slategray;
}

header{
    background-color:burlywood;
}

.Intro{
    width: fit-content;
    opacity: .85;
}


.topList li{
    margin: .1rem;
    border-radius: 2rem;
}

.topList li:hover{
    text-transform: capitalize;
}

.aBird{
    width: 10rem;
    height: auto;
}

.projectCard{
    opacity: .5;
}

.projectCard:hover{
    opacity: 1;
}

.imageBG{
    background-image: url(Images/mountains.jpg);
    color:snow;
    font-weight:bold;
}

.aboutMe{
    border-radius: .5rem;
    text-align: center;
    width: fit-content;
}

.aboutMe:hover{
    color:goldenrod;
    margin-left: 1rem;  
}

.enterText{
    height: 20rem;
}

.myLink{
    color: white;
    font-style: bold;
}

.myItems:hover{
    background-color: darkslategrey;
}

.myNavbar{
    margin-left: 20rem;
}

.headerClass{
    background-color: slategray;
}