body{
    background-color: rgb(250, 250, 250);
}

header{
    background-color:burlywood;
}

.Intro{
    padding-top:.3rem;
    padding-bottom: .5rem;
    height: fit-content;
    font-size: 1.5rem;
    opacity: .9;
    border-radius: 1rem;
    font-weight: bold;
}

.topList li{
    margin: .1rem;
    border-radius: 2rem;
}

.topList li:hover{
    text-transform: capitalize;
}

.aBird{
    width: 10rem;
    height: auto;
}

.projectCard{
    opacity: .5;
}

.projectCard:hover{
    opacity: 1;
}

#selfPic{
    opacity:.9;
    border-radius: 20rem;
    /*border: dotted white;*/
    box-shadow: .5rem .5rem 1rem slategray;
}

.imageBG{
    background-image: url(Images/mountains.jpg);
    background-size: 100%;
    height: auto;
    color:snow;
    font-weight:bold;
    border-radius: 5rem 5rem 5rem 5rem;
    box-shadow: .5rem .5rem 1rem slategray;
}

.aboutMe{
    border-radius: .5rem;
    text-align: center;
    width: fit-content;
    color:darkslategray;
    align-items: center;
}

#projects{
    align-content: center;
    width: fit-content;
    padding: 2rem;
}

.enterText{
    height: 10rem;
    min-height: 5rem;
}

.myLink{
    color: white;
    font-style: bolder;
}

.myItems:hover{
    background-color: darkslategrey;
}

.myNavbar{
    margin-left: 20rem;
}

.headerClass{
    background-color: slategray;
}

.Main1{
    color:darkslategray;
}